<!DOCTYPE html>
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>
  <body style="background-image: url('{% static 'admin/images/img.png' %}');">
  <a href="{% url 'admindash' %}" >Back</a>
    <div class="container-scroller">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card" style="background-image: url('{% static 'admin/images/table1.jpg' %}');">
                  <div class="card-body">
                    <h4 class="card-title" align="center"><b><i><u>ADD STOCK</u></i></b></h4>
                    <p class="card-description"> Horizontal form layout </p>
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                      <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    <form class="forms-sample" method="POST">{% csrf_token %}
                      <div class="form-group row">
                        <label for="exampleInputdate" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                         <input type="date" class="form-control" id="exampleInputdate" name="date" placeholder="date">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputname" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputname" name="name" placeholder="name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputinvoice" class="col-sm-3 col-form-label">Invoice_No</label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="exampleInputinvoice" name="invoice_no" placeholder="invoice_no">
                        </div>
                      </div>
                        <div class="form-group row">
                        <label for="exampleInputparti" class="col-sm-3 col-form-label">Particular</label>
                        <div class="col-sm-9">
                           <input type="text" class="form-control" id="exampleInputparti" name="particular" placeholder="particular">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleInputmodel" class="col-sm-3 col-form-label">Model</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputmodel" name="model" placeholder="model">
                        </div>
                      </div>
                        <div class="form-group row">
                        <label for="exampleInputunit" class="col-sm-3 col-form-label">Unit_Price</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputunit" name="unit_price" placeholder="unit_price">
                        </div>
                      </div>
                        <div class="form-group row">
                        <label for="exampleInputquality" class="col-sm-3 col-form-label">Quality</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputquality" name="qty" placeholder="qty">
                        </div>
                      </div>
                        <div class="form-group row">
                        <label for="exampleInputunits" class="col-sm-3 col-form-label">Units</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputunits" name="units" placeholder="units">
                        </div>
                      </div>
                        <div class="form-group row">
                        <label for="exampleInputsite" class="col-sm-3 col-form-label">Site</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputsite" name="site" placeholder="site">
                        </div>
                      </div>
                       <div class="form-group row">
                        <label for="exampleInputusage" class="col-sm-3 col-form-label">Usage_Quality</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputusage" name="usage_qty" placeholder="usage_qty">
                        </div>
                      </div>
                          <div class="form-group row">
                        <label for="exampleInputbalance" class="col-sm-3 col-form-label">Balance</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="exampleInputbalance" name="balance" placeholder="balance">
                        </div>
                      </div>

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        {% endblock %}


