{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>
  <body>
  <a href="{% url 'emphome' %}" >Back</a>

 <div class="col-xl-8 col-md-12">
     {% for message in messages %}
     <div class="alert alert-info" role="alert">
         <strong>{{message}}</strong>
     </div>
     {% endfor %}
    <div class="container-scroller">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" align="center"><u>PROFILE UPDATE</u></h4>
<!--                    <p class="card-description"> Horizontal form layout </p>-->
                    <form class="forms-sample" method="POST">{% csrf_token %}
                         {{form|crispy}}
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
      {% endblock %}
 </div>
 </div>
